// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$warning: #f36100;
$blue: #0d6efd;
$gray: #4f4f4f;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$table-variants: (
    "dark": $orange,
);

//global settings
$enable-rounded: false;

// pagination
$pagination-color: $gray;
$pagination-focus-bg: transparent;
$pagination-focus-box-shadow: transparent;
$pagination-active-bg: $green;
$pagination-active-color: white;

// navbar
$navbar-dark-color: rgba($green, 0.85) !default;
$navbar-dark-hover-color: rgba($green, 1) !default;
$navbar-dark-active-color: rgba($orange, 1) !default;

$dropdown-link-active-bg: rgba($green, 1) !default;
$dropdown-link-hover-bg: rgba($green, 0.85) !default;
$dropdown-link-hover-color: white;

// button
$btn-focus-width: .5px;

// input
$input-border-radius: 0;
$input-focus-border-color: $green;
$input-focus-box-shadow: inset 0 1px 2px rgba($green, .35) !default;

$form-select-focus-box-shadow:    inset 0 1px 2px rgba($green, .35) !default;



/* INTRO */
.intro-bg-image {
    background-image: url("../../public/images/bg-paw-print1.png"), linear-gradient(to right, #3bc46c, #70da97);
    min-height: 25rem;
    position: relative;
    background-size: cover;
}

.intro-bg-bottom-wave {
    position: absolute;
    /* bottom  : 14rem; */
    bottom: -0.2rem;
}

.intro-content {
    padding-top: 7rem;
}

.intro-col {
    height: 12rem;
}

@media (min-width: 768px) {
    .intro-bg-image {
        min-height: 30rem;
    }
}

// .nav-link.active {
//     border-bottom: 1.5px $orange solid;
// }

.nav-pills > li > a.active {
    background-color: $green !important;
    color: white !important;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-control-sm {
    max-height: 1.8rem !important;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';