// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$warning: #f36100;
$blue: #3490dc;
$gray: #4f4f4f;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// navbar
$navbar-dark-color: rgba($green, 0.75) !default;
$navbar-dark-hover-color: rgba($green, 0.9) !default;
$navbar-dark-active-color: rgba($orange, 1) !default;

/* INTRO */
.intro-bg-image {
    background-image: url("../../public/images/bg-paw-print1.png"), linear-gradient(to right, #3BC46C, #70da97);
    min-height: 25rem;
    position: relative;
    background-size: cover;
}

.intro-bg-bottom-wave {
    position: absolute;
    /* bottom  : 14rem; */
    bottom: -0.2rem;
}

.intro-content {
    padding-top: 7rem;
}

.intro-col {
    height: 12rem;
}
